@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, #fbb3b3, #9198e5);
    color: #feeefe;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-family: 'Permanent Marker',
        cursive;
}

.header-style {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

header {
    font-size: 5rem;
    padding: 2rem;

}

span {
    font-size: 4rem;
    font-family: 'Permanent Marker',
        cursive;
    color: #C6FFDD;
    margin: 2rem;
}

.btn-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

button {
    width: 200px;
    height: 50px;
    border: solid #9198e5 .2rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    background-color: #feeefe;
    color: #9198e5;
}