 @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 .main-content {
     width: 100%;
     height: 100%;
 }

 body {
     background: linear-gradient(90deg, #fbb3b3, #9198e5);
     color: #feeefe;
     font-family: 'Permanent Marker',
         cursive;
 }


 header {
     font-size: 5rem;
     padding: 2rem;
     color: #C6FFDD;
     text-shadow: -1px 1px 0 #9198e5;
     text-align: center;
 }

 button {
     width: 200px;
     height: 50px;
     border: solid 1px #9198e5;
     border-radius: 2rem;
     font-size: 1.5rem;
     background-color: #feeefe;
     color: #9198e5;
     margin-top: 4rem;
 }

 img {
     width: 300px;
     height: 400px;
     margin-top: 2rem;
 }

 .img-group {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     gap: 4rem;
     margin: 3rem;
     border: 2px solid #C6FFDD;
     padding-bottom: 2rem;
 }


 .img-btn {
     width: 100px;
 }

 form {
     display: flex;
     flex-direction: column;
     align-items: center;
     font-size: 2rem;
 }

 label {
     margin-bottom: .2rem;

     color: #feeefe;
     text-shadow: -1px 1px 0 #9198e5;
 }

 select {
     text-align: center;
     width: 330px;
     height: 50px;
     border: solid 1px #9198e5;
     border-radius: 2rem;
     font-size: 1.5rem;
     background-color: #feeefe;
     color: #9198e5;
     margin-top: 4rem;
 }

 .flex {
     display: flex;
 }

 .column {
     flex-direction: column;
 }